  #app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.86);
  background-position: center;
  background-size: cover;
}

.swiper-slide:nth-child(1n) {
  background-image: url("https://i.ibb.co/dmbG3wy/wellness.jpg");
}

.swiper-slide:nth-child(2n) {
  background-image: url("https://i.ibb.co/x8X6jkV/yoga.jpg");
}

.swiper-slide:nth-child(3n) {
  background-image: url("https://i.ibb.co/Lnps828/fitness.jpg");
}

.swiper-slide:nth-child(4n) {
  background-image: url("https://i.ibb.co/dLMJQVL/wellness-expo.jpg");
}

.swiper-slide:nth-child(5n) {
  background-image: url("https://i.ibb.co/bRxK24X/medical-checkup.jpg");
}

.swiper-slide:nth-child(6n) {
  background-image: url("https://i.ibb.co/XbLx0Vn/mental-health.jpg");
}

.swiper-slide:nth-child(7n) {
  background-image: url("https://i.ibb.co/NKxqT6t/nutrition-workshop.jpg");
}

.swiper-slide:nth-child(8n) {
  background-image: url("https://i.ibb.co/LSF54T2/healthy-cooking.jpg");
}
.swiper-slide:nth-child(9n) {
  background-image: url("../../assets/healthy-cooking.jpg");
}


